#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  height: 100px;
  background-color: #badc58;
}

main {
}

footer {
  height: 70px;
  background-color: #d1ccc0;
}
